<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Tracker</title>
  </head>

  <body>
    <h1>Add Friend</h1>

    <form method="post">

      <p>Friend Name</p>
      <input type="text" name="friendname" placeholder="Friend Name" /><br />

      <p>Group</p>
      <input type="text" name="group" placeholder="Group" /><br />

      <br />

        <p>Desired Frequency of Contact (in days)</p>
      <input
        type="number"
        name="desiredfreq"
        placeholder="Desired Frequency of Contact (in days)"
      /><br />

      <p>Date of Last Contact</p>
      <input
        type="date"
        name="lastcontact"
        placeholder="Date of Last Contact"
      /><br />

      <br />
      <br />

      <input type="submit" />
      
    </form>

    <br />

    <a href="/">Back</a>
  </body>
</html>
