<!DOCTYPE html>
<html lang="en">
  {{ template "header.gohtml" }}


  <body>
    <table>
      <tr>
        <th>Contact</th>
        <th>Freq</th>
        <th>Last Contact</th>
        <th>Next Contact</th>
      </tr>
      {{ range . }}
        <tr>
          <td>
            <a href="/friend/?friend={{ .FriendName }}">{{ .FriendName }}</a>
          </td>
          <td>{{ .DesiredFreq }}</td>
          <td>{{ .LastContact }}</td>
          <td>{{ .NextContact }}</td>
          <td>
            <a href="/updatelastcontact/?friend={{ .FriendName }}">
              Update Last Contact
            </a>
          </td>
        </tr>
      {{ end }}
    </table>

    <br />

    <a href="/addfriend/">Add Friend</a>
    <br />
  </body>
</html>
