<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Tracker</title>
  </head>

  <body>
    <h1>Friend Details</h1>

    <p>Name: {{ .FriendName }}</p>
    <p>Group: {{ .Group }}</p>
    <p>Desired Frequency of Contact (in days): {{ .DesiredFreq }}</p>
    <p>Last Contact: {{ .LastContact }}</p>

    <br />
    <br />

    <a href="/editfriend/?friend={{ .FriendName }}">Edit Friend Details</a>
    <br />
    <a href="/deletefriend/?friend={{ .FriendName }}">Delete Friend</a>
    <br />
    <a href="/">Back</a>
    <br />
  </body>
</html>
